@model Practical12.Models.Designation
@{
    ViewData["Title"] = "Details of a designation";
    }
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DesignationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DesignationName)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayName("Number of Employees")
        </dt>
        <dd class="col-sm-10">
            @Html.Label(Model.Employees.Count().ToString())
        </dd>*@
        @*<dt class="col-sm-2">
            @Html.DisplayName("Employees")
        </dt>
        <dd class="col-sm-10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("FirstName")
                        </th>
                        <th>
                            @Html.DisplayName("MiddleName")
                        </th>
                        <th>
                            @Html.DisplayName("LastName")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Employees != null && Model.Employees.Count() > 0)
                    {
                        foreach (var item in Model.Employees)
                        {
                            <tr>
                                <td style="vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td style="vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.MiddleName)
                                </td>
                                <td style="vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td style="vertical-align:middle" colspan="3">No employees exists in this designation</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>*@
    </dl>

</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>