@model IEnumerable<Practical13Test02.Models.EmployeeDesignation>
<p>
    <a href="@Url.Action("Create")"class= "btn btn-primary" >
        <i class="bi bi-file-earmark-plus"></i> Create New
    </a>
<table class="table table-bordered text-dark">
    <tr class="text-black">
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="text-black">
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            <a href="@Url.Action("Create", new { id = item.Id })" class="btn btn-success">
                <i class="bi bi-pencil-square"></i> Edit
            </a>


            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">
                <i class="bi bi-trash"></i> Delete
            </a>
        </td>
    </tr>
}

</table>
